<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- static css -->
    <link rel="stylesheet" href="../static/style.css">
    <!-- google fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Concert+One&family=Architects+Daughter&family=Viga&family=Patrick+Hand&display=swap"
        rel="stylesheet">
    <!-- Link to jQuery  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body style="background-image: url('../static/background.jpg')">

    <!-- ================= NAV ======================== -->
    <nav id="navbar" class="navbar navbar-dark" style="background-color:#f51;">
        <span class="navbar-text justify-content-left" style="color: white;">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
            </svg>
            {{ session['user_name'] }}
        </span>
        <!-- =================== LOGOUT ROUTE ===================== -->
        <form action="/logout" method="post" class="form-inline justify-content-end">
            <button class="btn" type="submit" style="color: white;">log out</button>
        </form>
    </nav>


    <div class="container" style="background-color:white; margin-top: 30px; padding-top: 5px;">

        <!-- FORM : CREATE A MESSAGE  -->
        <!-- =============================================== -->
        <div class="row" style="margin: 30px 0 60px 0;">
            <div class="col">
                <form action="/create" method="post">
                    <div class="form-group">
                        <label for="create" style="font-weight: bold; font-size: 1.5rem">Post a message:</label>
                        <textarea class="form-control" id="create" name="create" rows="3"></textarea>
                    </div>
                    <button class="btn btn-warning" type="submit">Post</button>
                </form>
            </div>
        </div>




        <!---- FOR LOOP TO BUILD MESSAGES FROM DATABASE ---->
        <!-- =============================================== -->
        {% for message in messages %}

        <!-- each message has a form used for getting comments -->
        <!-- comments are specific for each message: in hidden input  -->


        <div class="row" style="margin: 10px 0 20px 30px;">
            <div class="col">
                <!-- name & date of user who wrote message -->
                <div class="row" style="color:grey;">
                    <div class="col">
                        {{ message.first_name }} {{ message.updated_at }}
                    </div>
                </div>

                <!-- message  -->
                <div class="row" style="margin:0 0 10px 20px;">
                    <div class="col">
                        {{ message.message }}
                    </div>
                </div>
                

                <!-- INPUT FOR COMMENT -->
                <!-- ============================== -->
                <div class="row justify-content-end">
                    <div class="col-9">
                        <form action="/create_comment" method="post">

                            <!-- hidden input to get the message_id -->
                            <input type="hidden" name="messageID" value="{{ message.id }}">


                            <div class="form-group">
                                <label for="createComment" style="font-weight: bold; font-size: 1.5rem;">Leave a
                                    comment:</label>
                                <textarea class="form-control" name="createComment" rows="3"
                                    style="background-color:khaki;"></textarea>
                            </div>
                            <button class="btn btn-secondary" type="submit">Comment</button>
                        </form>

                    </div>

                </div>
            </div>
        </div>



        {% endfor %}

        <!-- [{'id': 1, 'user_id': 1, 'message': "here's the first message!", 'updated_at': datetime.datetime(2020, 9, 11, 18, 51,
49), 'users.id': 1, 'first_name': 'kelli'}] -->











    </div>

    <!-- BOOTSTRAP'S: Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>