<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- static css -->
    <link rel="stylesheet" href="../static/style.css">

    <!-- google fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Concert+One&family=Architects+Daughter&family=Viga&family=Patrick+Hand&display=swap"
        rel="stylesheet">




    <!-- Link to jQuery  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

    <!-- ================= NAV ======================== -->
    <nav id="navbar" class="navbar navbar-dark" style="background-color:#0d5f8a;">

        <span class="navbar-text justify-content-left">

            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
            </svg>
            {{ session['user_name'] }}
        </span>
        <!-- ===================Dashboard button ========================== -->
        <form action="/dashboard" method="GET" class="form-inline justify-content-end">
            <button class="btn" type="submit">Dashboard</button>
        </form>

        <!-- ===========================Review============================= -->
        <form action="/?????" method="post" class="form-inline justify-content-end">
            <button class="btn" type="submit">Review</button>
        </form>
        <!-- =================== LOGOUT ROUTE ===================== -->
        <form action="/logout" method="post" class="form-inline justify-content-end">
            <button class="btn" type="submit">log out</button>
        </form>
    </nav>



    <!-- ========================= Table =============================-->

    <div class='container'>

        <div class="row">
            <div class='col-1.5'>
                <p style="background-color: grey; color: white">Create a recipe</p>
            </div>
        </div>

        <form action='/create_recipe' method='POST'>

            <div class="form-group">
                <label for="formGroupExampleInput2">Recipe name:</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" name="recipe">
            </div>


            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
            </div>


            <div class="form-group">
                <label for="exampleFormControlTextarea1">Instrutions:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="instruction"></textarea>
            </div>

            <div class='row'>
                <div class='col-4'>
                    <p>Under 30 minutes to prepare?</p>
                </div>

                <div class='col-3'>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" name='cook_time' value='yes'>
                        <label class="form-check-label" for="exampleCheck1">Yes</label>
                    </div>

                </div>

                <div class='col-3'>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" name='cook_time' value='no'>
                        <label class="form-check-label" for="exampleCheck1">No</label>
                    </div>


                </div>

                <div class='col=2'>

                    <button type="submit" class="btn btn-primary btn-lg">Create </button>

                </div>
        </form>


    </div>

    </div>






    </div>






</body>

</html>